@charset "UTF-8";

/* /// HOME /// */

section#home,
section#home div.wrapper,
section#home div.bubble,
ul#nav_home > li a {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:   border-box;
    box-sizing:        border-box;
}

section#home {
    position:relative;
    width:100%;
    height:100%;
    visibility:visible;
    -webkit-transition:opacity 0.6s ease-in-out;
    transition:        opacity 0.6s ease-in-out;
}

section#home div.wrapper {
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    width:540px;
    height:270px;
    margin:auto;
}

section#home div.logo {
    float:left;
    position:relative;
    background:rgb(193,190,176) url('/public/images/app/svg/nav/logo.svg') center center no-repeat;
    width:60px;
    height:60px;
    border:5px solid rgb(242,239,223);
    margin-right:20px;
    box-shadow:0 0 4px rgb(160,160,160);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:   border-box;
    box-sizing:        border-box;
    opacity:0;
    -webkit-transform:translate3d(-50px,-50px,0) scale3d(0.8,0.8,1);
            transform:translate3d(-50px,-50px,0) scale3d(0.8,0.8,1);
}

section#home.active div.logo {
    -webkit-animation:start_logo 0.5s 0.3s forwards ease-in-out;
            animation:start_logo 0.5s 0.3s forwards ease-in-out;
}

@-webkit-keyframes start_logo {
    from {-webkit-transform:translate3d(0,-75px,0) scale3d(0.8,0.8,1); opacity:0;}
    75%  {opacity:1;}
    to   {-webkit-transform:translate3d(0,0,0) scale3d(1.0,1.0,1); opacity:1;}
}

@keyframes start_logo {
    from {transform:translate3d(0,-75px,0) scale3d(0.8,0.8,1); opacity:0;}
    75%  {opacity:1;}
    to   {transform:translate3d(0,0,0) scale3d(1.0,1.0,1); opacity:1;}
}

section#home.clear div.logo {
    -webkit-animation:clear_logo 0.5s 1.5s backwards ease-in-out;
            animation:clear_logo 0.5s 1.5s backwards ease-in-out;
}

@-webkit-keyframes clear_logo {
    from {-webkit-transform:translate3d(0,0,0); opacity:1;}
    to   {-webkit-transform:translate3d(0,-75px,0); opacity:0;}
}
    
@keyframes clear_logo {
    from {transform:translate3d(0,0,0); opacity:1;}
    to   {transform:translate3d(0,-75px,0); opacity:0;}
}

section#home div.bubble {
    z-index:0;
    float:left;
    position:relative;
    background:rgb(229,225,214);
    width:460px;
    padding:20px;
    border:5px solid rgb(242,239,223);
    margin-bottom:20px;
    box-shadow:0 0 4px rgb(160,160,160);
    opacity:0;
    -webkit-transform:rotate(290deg) translateZ(0);
            transform:rotate(290deg) translateZ(0);
    -webkit-transform-origin:0 0 0;
            transform-origin:0 0 0;
}

section#home.active div.bubble {
    -webkit-animation:start_bubble 0.5s 0.6s forwards ease-in-out;
            animation:start_bubble 0.5s 0.6s forwards ease-in-out;
}

@-webkit-keyframes start_bubble {  
    0%   {-webkit-transform:rotate(340deg); -webkit-transform-origin:0 0 0; opacity:0;}
    100% {-webkit-transform:rotate(360deg); -webkit-transform-origin:0 0 0; opacity:1;}  
}

@keyframes start_bubble {  
    0%   {transform:rotate(420deg); transform-origin:0 0 0; opacity:0;}  
    100% {transform:rotate(360deg); transform-origin:0 0 0; opacity:1;}  
}

section#home.clear div.bubble {
    -webkit-animation:clear_bubble 0.5s 1.2s backwards ease-in-out;
            animation:clear_bubble 0.5s 1.2s backwards ease-in-out;
}

@-webkit-keyframes clear_bubble {  
    0%   {-webkit-transform:rotate(360deg); -webkit-transform-origin:0 0 0; opacity:1;}
    100% {-webkit-transform:rotate(340deg); -webkit-transform-origin:0 0 0; opacity:0;}  
}

@keyframes clear_bubble {  
    0%   {transform:rotate(360deg); transform-origin:0 0 0; opacity:1;}  
    100% {transform:rotate(420deg); transform-origin:0 0 0; opacity:0;}  
}

div.bubble::after {
    position:absolute;
    top:20px;
    left:-15px;
	width:0; 
	height:0; 
	border-top   :7px  solid transparent;
	border-bottom:7px  solid transparent; 
	border-right :10px solid rgb(242,239,223);
	content:'';
}

section#home div.bubble span.quote {
    display:block;
    max-width:360px;
}

ul#nav_home > li {
    position:relative;
    float:left;
    width:120px;
    height:120px;
    margin-right:20px;
    opacity:0;
    -webkit-transform:translate3d(0,100px,0) scale3d(0.8,0.8,1);
            transform:translate3d(0,100px,0) scale3d(0.8,0.8,1);
}

ul#nav_home > li:last-of-type {margin-right:0;}

section#home.active ul#nav_home > li {
    -webkit-animation:start_boxes 0.5s 0.9s forwards ease-in-out;
            animation:start_boxes 0.5s 0.9s forwards ease-in-out;
}

section#home.active li#box_projects {
    -webkit-animation-delay:1.1s !important;
            animation-delay:1.1s !important;
}
section#home.active li#box_contact {
    -webkit-animation-delay:1.3s !important;
            animation-delay:1.3s !important;
}
section#home.active li#box_labs {
    -webkit-animation-delay:1.5s !important;
            animation-delay:1.5s !important;
}

@-webkit-keyframes start_boxes {
    from {-webkit-transform:translate3d(0,100px,0) scale3d(0.8,0.8,1); opacity:0;}
    to   {-webkit-transform:translate3d(0,0,0)     scale3d(1.0,1.0,1); opacity:1;}
}

@keyframes start_boxes {
    from {transform:translate3d(0,100px,0) scale3d(0.8,0.8,1); opacity:0;}
    to   {transform:translate3d(0,0,0)     scale3d(0.8,0.8,1); opacity:1;}
}

section#home.clear ul#nav_home > li {
    -webkit-animation:clear_boxes 0.5s 0.9s backwards ease-in-out;
            animation:clear_boxes 0.5s 0.9s backwards ease-in-out;
}

section#home.clear li#box_projects {
    -webkit-animation-delay:0.7s !important;
            animation-delay:0.7s !important;
}
section#home.clear li#box_contact {
    -webkit-animation-delay:0.5s !important;
            animation-delay:0.5s !important;
}
section#home.clear li#box_labs {
    -webkit-animation-delay:0.3s !important;
            animation-delay:0.3s !important;
}

@-webkit-keyframes clear_boxes {
    from {-webkit-transform:translate3d(0,0,0)     scale3d(1.0,1.0,1); opacity:1;}
    to   {-webkit-transform:translate3d(0,100px,0) scale3d(0.8,0.8,1); opacity:0;}
}

@keyframes clear_boxes {
    from {transform:translate3d(0,100px,0) scale3d(0.8,0.8,1); opacity:0;}
    to   {transform:translate3d(0,0,0)     scale3d(0.8,0.8,1); opacity:1;}
}

ul#nav_home > li a {
    display:block;
    position:relative;
    background:rgb(229,225,214) right top no-repeat;
    width:100%;
    height:100%;
    border:5px solid rgb(242,239,223);
    box-shadow:0 0 4px rgb(160,160,160);
}

ul#nav_home > li a::after {
    position:absolute;
    left:10px;
    bottom:10px;
    pointer-events:none;  
}

ul#nav_home > li a.active {
    -webkit-animation:nav_spin 1.4s ease-in-out forwards;
            animation:nav_spin 1.4s ease-in-out forwards;           
}

@-webkit-keyframes nav_spin {
    0%   {-webkit-transform:translate3d(0,0,0)      rotateY(0deg)   scale3d(1.0,1.0,1); opacity:1;}
    60%  {-webkit-transform:translate3d(0,-225px,0) rotateY(720deg) scale3d(0.8,0.8,1); opacity:1;}
    90%  {-webkit-transform:translate3d(0,100px,0)  rotateY(720deg) scale3d(0.8,0.8,1); opacity:0;}
    100% {-webkit-transform:translate3d(0,100px,0)  rotateY(720deg) scale3d(0.8,0.8,1); opacity:0;}
}

@keyframes nav_spin {
    from {transform:translate3d(0,0,0)      rotateY(0deg)   scale3d(1.0,1.0,1); opacity:1;}
    60%  {transform:translate3d(0,-225px,0) rotateY(720deg) scale3d(0.8,0.8,1); opacity:1;}
    90%  {transform:translate3d(0,100px,0)  rotateY(720deg) scale3d(0.8,0.8,1); opacity:0;}
    to   {transform:translate3d(0,100px,0)  rotateY(720deg) scale3d(0.8,0.8,1); opacity:0;}
}

ul#nav_home > li a > div.bg {
    position:absolute;
    top:0;
    left:0;
    background:right top no-repeat;
    background-size:25%;
    width:100%;
    height:100%;
    pointer-events:none;
    -webkit-backface-visibility:hidden;
    -webkit-transition:all 0.2s ease-in-out;
    transition:        all 0.2s ease-in-out;
}

ul#nav_home > li a > div.pixel {
    float:left;
    width:10px;
    height:10px;
    -webkit-transition:background-color 1s ease-in-out;
    transition:        background-color 1s ease-in-out;
}

ul#nav_home > li a > div.pixel:hover {
    -webkit-transition:none;
    transition:        none;
}

/* Blog */
ul#nav_home > li a.blog::after            {content:'Blog';}
ul#nav_home > li a.blog > div.bg          {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiPjxwb2x5Z29uIGZpbGw9IiNGMkVGREYiIHBvaW50cz0iMTguNTcxLDEwIDYuNjk2LDIwIDEyLjc2OCwyMCA2Ljk2NCwzMCAyMCwxNy42NzkgMTMuOTI4LDE3LjY3OSAiLz48L3N2Zz4=');}
ul#nav_home > li a.blog > div.pixel       {background-color:rgb(138,178,159);}
ul#nav_home > li a.blog > div.pixel:hover {background-color:rgb(121,153,137);}

/* Projects */
ul#nav_home > li a.projects::after            {content:'Projects';}
ul#nav_home > li a.projects > div.bg          {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRjJFRkRGIiBkPSJNMTIuMzg1LDE0LjI4NmwtNC43NzEsOC41NzJoOS41MjhMMTIuMzg1LDE0LjI4NnogTTIuODU3LDIyLjg1NyBoNC43NTdsLTIuMzcyLTQuMjg2TDIuODU3LDIyLjg1N3ogTTE4LjU3LDI0Ljc4NUgxLjQyOFYxMS40MjhIMTguNTdWMjQuNzg1eiBNMCwxMHYyMGgyMFYxMEgweiIvPjwvc3ZnPg==');}
ul#nav_home > li a.projects > div.pixel       {background-color:rgb(153,127,104);}
ul#nav_home > li a.projects > div.pixel:hover {background-color:rgb(142,117,100);}

/* Contact */
ul#nav_home > li a.contact::after            {content:'Contact';}
ul#nav_home > li a.contact > div.bg          {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRjJFRkRGIiBkPSJNMy43MSwyNy40ODhsNy41OTUtNC4xMzRMMC4yMjYsMTAuMzVMMTMuMjgsMjIuMjhsNi42NDYtMy41OTcgTDAsMTBMMy43MSwyNy40ODh6IE0xMy42NzksMzB2LTYuMjU4bC0zLjc0OCwyLjIxMUwxMy42NzksMzB6Ii8+PC9zdmc+');}
ul#nav_home > li a.contact > div.pixel       {background-color:rgb(191,168,118);}
ul#nav_home > li a.contact > div.pixel:hover {background-color:rgb(173,152,109);}

/* Labs */
ul#nav_home > li a.labs::after            {content:'Labs';}
ul#nav_home > li a.labs > div.bg          {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRjJFRkRGIiBkPSJNMTcuMTQzLDEwaC0yLjg1NmgtMS40Mjl2MS40Mjl2MS40Mjh2MTEuNDI5IGMwLDIuMzU3LTEuOTMsNC4yODUtNC4yODYsNC4yODVjLTIuMzU1LDAtNC4yODUtMS45MjgtNC4yODUtNC4yODVWMTIuODU2di0xLjQyOFYxMEgyLjg1N0gwdjEuNDI5aDIuODU3djEyLjg1NyBDMi44NTcsMjcuNDQxLDUuNDE1LDMwLDguNTcxLDMwYzMuMTU3LDAsNS43MTUtMi41NTksNS43MTUtNS43MTVWMTEuNDI4aDIuODU2VjEweiBNNS43MTQsMjQuMjg1YzAsMS41NzIsMS4yODUsMi44NTcsMi44NTcsMi44NTcgczIuODU3LTEuMjg1LDIuODU3LTIuODU3di03LjE0M0g1LjcxNFYyNC4yODV6Ii8+PC9zdmc+');}
ul#nav_home > li a.labs > div.pixel       {background-color:rgb(137,150,175);}
ul#nav_home > li a.labs > div.pixel:hover {background-color:rgb(121,134,155);}

/* RESPONSIVE ADJUSTMENTS */

/* Height */

@media only screen 
and (max-height : 490px) {
    section#home {height:auto;}
    section#home > div.wrapper {
        position:relative;
        height:auto !important;
        padding:110px 0;
    }
}

/* Width */

/*
@media only screen 
and (max-width : 1609px) {}
*/

@media only screen /* iPad */
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    ul#nav_home > li a {
        -webkit-transition:none;
        transition:        none;
    }
    ul#nav_home > li a.blog > div.bg     {background-color:rgb(138,178,159);}
    ul#nav_home > li a.projects > div.bg {background-color:rgb(153,127,104);} 
    ul#nav_home > li a.contact > div.bg  {background-color:rgb(191,168,118);}
    ul#nav_home > li a.labs > div.bg     {background-color:rgb(137,150,175);}

    ul#nav_home > li a > div.bg {
        -webkit-transition:none;
        transition:        none;
    }
    ul#nav_home > li a > div.pixel {display:none;}
}

/*
@media only screen 
and (max-width : 999px) {}
*/

@media only screen 
and (max-width : 747px) {
    section#home {height:auto;}
    section#home > div.wrapper {
        position:relative;
        height:auto;
        width:100%;
        padding:20px;
        margin:0 auto;
    }
    section#home div.bubble {
        width:100%;
        margin-top:20px;
    }
    div.bubble::after {
        top:-22px;
        left:20px;
    	border-left  :7px  solid transparent;
    	border-right :7px  solid transparent;
    	border-bottom:10px solid rgb(242,239,223); 
    }
    ul#nav_home > li {
        height:70px;
        width:48%;
        margin:0 4% 20px 0;
    }
    ul#nav_home > li:nth-of-type(2n+2) {margin-right:0;}
    ul#nav_home > li:nth-of-type(n+3)  {margin-bottom:0;}
    ul#nav_home > li a {
        -webkit-transition:none;
        transition:        none;
    }
    ul#nav_home > li a.blog > div.bg     {background-color:rgb(138,178,159); background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjUwcHgiPjxwb2x5Z29uIGZpbGw9IiNGMkVGREYiIHBvaW50cz0iMTguNTcsMTUgNi42OTUsMjUgMTIuNzY3LDI1IDYuOTYzLDM1IDIwLDIyLjY4IDEzLjkyNywyMi42OCAiLz48L3N2Zz4=');}
    ul#nav_home > li a.projects > div.bg {background-color:rgb(153,127,104); background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGZpbGw9IiNGMkVGREYiIGQ9Ik0xMi4zODQsMTkuMjg2bC00Ljc3MSw4LjU3MWg5LjUyOEwxMi4zODQsMTkuMjg2eiBNMi44NTcsMjcuODU3aDQuNzU3TDUuMjQyLDIzLjU3TDIuODU3LDI3Ljg1N3ogTTE4LjU3LDI5Ljc4NUgxLjQyN1YxNi40MjhIMTguNTdWMjkuNzg1eiBNMCwxNXYyMGgyMFYxNUgweiIvPjwvc3ZnPg==');} 
    ul#nav_home > li a.contact > div.bg  {background-color:rgb(191,168,118); background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGZpbGw9IiNGMkVGREYiIGQ9Ik0zLjcxLDMyLjQ4OGw3LjU5NS00LjEzNUwwLjIyNywxNS4zNWwxMy4wNTMsMTEuOTI5bDYuNjQ2LTMuNTk2TDAsMTVMMy43MSwzMi40ODh6IE0xMy42OCwzNXYtNi4yNTggbC0zLjc0OCwyLjIxMUwxMy42OCwzNXoiLz48L3N2Zz4=');}
    ul#nav_home > li a.labs > div.bg     {background-color:rgb(137,150,175); background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGZpbGw9IiNGMkVGREYiIGQ9Ik0yMCwxNWgtMi44NTVoLTEuNDN2MS40Mjl2MS40Mjh2MTEuNDI5YzAsMi4zNTYtMS45Myw0LjI4NC00LjI4NSw0LjI4NHMtNC4yODUtMS45MjgtNC4yODUtNC4yODR2LTExLjQzIHYtMS40MjhWMTVoLTEuNDNIMi44NTd2MS40MjloMi44NTd2MTIuODU3YzAsMy4xNTUsMi41NTgsNS43MTQsNS43MTMsNS43MTRjMy4xNTgsMCw1LjcxNi0yLjU1OSw1LjcxNi01LjcxNVYxNi40MjhIMjBWMTVMMjAsMTV6IE04LjU3MSwyOS4yODVjMCwxLjU3MiwxLjI4NSwyLjg1NywyLjg1NiwyLjg1N2MxLjU3MiwwLDIuODU3LTEuMjg1LDIuODU3LTIuODU3di03LjE0M0g4LjU3MVYyOS4yODV6Ii8+PC9zdmc+');}
    ul#nav_home > li a > div.bg          {background-position:right center; background-size:inherit;}
    ul#nav_home > li a::after {
        left:20px;
        bottom:20px;
    }
    ul#nav_home > li a > div.bg {
        -webkit-transition:none;
        transition:        none;
    }
    ul#nav_home > li a > div.pixel {display:none;}
}

@media only screen 
and (max-width : 440px) {
    ul#nav_home > li {
        width:100%;
        margin:0 0 20px 0;
    }
    ul#nav_home > li:nth-of-type(3) {margin-bottom:20px;} 
    ul#nav_home > li:last-of-type   {margin-bottom:0;}   
}