@charset "UTF-8";

/* /// MAIN /// */

* {
    /* -webkit-user-select:none; */
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    padding:0px;
    margin:0px;
}

html,
body {
    background:url('/public/images/app/bg/bg-blue.png') repeat;
    background-size:129px !important;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

img {border:none; outline:none; border-style:none;}

a:focus,a:active {outline:none;}

::-moz-selection{background:#8AB29F; color:#F2EFDF; text-shadow:none;}
::selection     {background:#8AB29F; color:#F2EFDF; text-shadow:none;}

/* /// TOOL BELT /// */

.hr {
    width:100%;   
    border-left:  1px solid rgba(38,38,38,0.0);
    border-right: 1px solid rgba(38,38,38,0.0);
    border-top:   1px solid rgba(38,38,38,0.4);
    border-bottom:1px solid rgba(250,250,250,0.1);
    margin:0;
    overflow:hidden;
}

.spacer { 
    width:auto; 
    height:auto; 
    padding:20px 0px 20px 0px;
}

.left {float:left;}
.right {float:right;}

.hidden {visibility:hidden;}
.remove {display:none !important;}

@media only screen 
and (max-width : 760px) {
    .mh,
    .mobile_hide {display:none;}
    .ms,
    .mobile_show {display:block;}
}

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}

/* RESPONSIVE ADJUSTMENTS */

/* Height */