/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - OPEN **************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - STYLES ************************ */

/* ////////////////////////////////////////////////// */

section.top > header h1 {visibility:hidden;}

/* ////////////////////////////////////////////////// */

/* ********** END - STYLES ************************** */

/* ////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - WRAPPER / CONTENT ************* */

/* ////////////////////////////////////////////////// */

section.top > header {
    position:absolute;
    bottom:-37px;
    left:50%;
    background:transparent;
    width:146px;
    height:72px;
    margin-left:-73px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out; 
    -webkit-transform-style:preserve-3d; /* CHROME FLASH FIX */
    -webkit-backface-visibility:hidden; /* FIX FOR JAGGED EDGES */
    backface-visibility:hidden; /* FIX FOR JAGGED EDGES */
}

.header-remove {display:none;}


/* ////////////////////////////////////////////////// */

/* ********** END - WRAPPER / CONTENT *************** */

/* ////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - COLS ************************** */

/* ////////////////////////////////////////////////// */

section.top > header > section.left {
    z-index:2;
    position:absolute;
    left:36px;
    top:22px;    
    background:#C1BEB0;
    width:25px;
    height:25px;
    border:1px solid #A09E95;
    -webkit-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -khtml-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -moz-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -o-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out; 
}

.open-animation-lcol {    
    -moz-animation: open-animation-lcol 1s;
    -webkit-animation: open-animation-lcol 1s;
    animation: open-animation-lcol 1s;
}

@-moz-keyframes open-animation-lcol {
    0%   {}
    50%  {
        -webkit-transform:translateX(-1000%);
        -moz-transform:translateX(-1000%);
        -o-transform:translateX(-1000%);
        -ms-transform:translateX(-1000%);
        transform:translateX(-1000%);
        opacity:1;
    }
    100% {
        -webkit-transform:translateX(-1000%);
        -moz-transform:translateX(-1000%);
        -o-transform:translateX(-1000%);
        -ms-transform:translateX(-1000%);
        transform:translateX(-1000%);
        opacity:0;
    }
}

@-webkit-keyframes open-animation-lcol {
    0%   {}
    50%  {
        -webkit-transform:translateX(-1000%);
        -moz-transform:translateX(-1000%);
        -o-transform:translateX(-1000%);
        -ms-transform:translateX(-1000%);
        transform:translateX(-1000%);
        opacity:1;
    }
    100% {
        -webkit-transform:translateX(-1000%);
        -moz-transform:translateX(-1000%);
        -o-transform:translateX(-1000%);
        -ms-transform:translateX(-1000%);
        transform:translateX(-1000%);
        opacity:0;
    }
}

@keyframes open-animation-lcol {
    0%   {}
    50%  {
        -webkit-transform:translateX(-1000%);
        -moz-transform:translateX(-1000%);
        -o-transform:translateX(-1000%);
        -ms-transform:translateX(-1000%);
        transform:translateX(-1000%);
        opacity:1;
    }
    100% {
        -webkit-transform:translateX(-1000%);
        -moz-transform:translateX(-1000%);
        -o-transform:translateX(-1000%);
        -ms-transform:translateX(-1000%);
        transform:translateX(-1000%);
        opacity:0;
    }
}

section.top > header > section.middle {
    z-index:3;
    position:absolute;
    left:35px;
    top:0px;
    background:#C1BEB0;
    width:70px;
    height:70px;
    border:1px solid #A09E95;
    -webkit-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -khtml-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -moz-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -o-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    box-shadow:0 0 0 1px rgba(250,250,250,0.4);
}

.open-animation-mcol {    
    -moz-animation: open-animation-mcol 1s;
    -webkit-animation: open-animation-mcol 1s;
    animation: open-animation-mcol 1s;
}

@-moz-keyframes open-animation-mcol {
    0%   {}
    50%  {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes open-animation-mcol {
    0%   {}
    50%  {opacity:1;}
    100% {opacity:0;}
}

@keyframes open-animation-mcol {
    0%   {}
    50%  {opacity:1;}
    100% {opacity:0;}
}

section.top > header > section.right {
    z-index:2;
    position:absolute;
    left:79px;
    top:22px;
    background:#C1BEB0;
    width:25px;
    height:25px;
    border:1px solid #A09E95;
    -webkit-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -khtml-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -moz-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -o-box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    box-shadow:0 0 0 1px rgba(250,250,250,0.4);
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out; 
}

.open-animation-rcol {    
    -moz-animation: open-animation-rcol 1s;
    -webkit-animation: open-animation-rcol 1s;
    animation: open-animation-rcol 1s;
}

@-moz-keyframes open-animation-rcol {
    0%   {}
    50%  {
        -webkit-transform:translateX(1000%);
        -moz-transform:translateX(1000%);
        -o-transform:translateX(1000%);
        -ms-transform:translateX(1000%);
        transform:translateX(1000%);
        opacity:1;
    }
    100% {
        -webkit-transform:translateX(1000%);
        -moz-transform:translateX(1000%);
        -o-transform:translateX(1000%);
        -ms-transform:translateX(1000%);
        transform:translateX(1000%);
        opacity:0;
    }
}

@-webkit-keyframes open-animation-rcol {
    0%   {}
    50%  {
        -webkit-transform:translateX(1000%);
        -moz-transform:translateX(1000%);
        -o-transform:translateX(1000%);
        -ms-transform:translateX(1000%);
        transform:translateX(1000%);
        opacity:1;
    }
    100% {
        -webkit-transform:translateX(1000%);
        -moz-transform:translateX(1000%);
        -o-transform:translateX(1000%);
        -ms-transform:translateX(1000%);
        transform:translateX(1000%);
        opacity:0;
    }
}

@keyframes open-animation-rcol {
    0%   {}
    50%  {
        -webkit-transform:translateX(1000%);
        -moz-transform:translateX(1000%);
        -o-transform:translateX(1000%);
        -ms-transform:translateX(1000%);
        transform:translateX(1000%);
        opacity:1;
    }
    100% {
        -webkit-transform:translateX(1000%);
        -moz-transform:translateX(1000%);
        -o-transform:translateX(1000%);
        -ms-transform:translateX(1000%);
        transform:translateX(1000%);
        opacity:0;
    }
}

/* ////////////////////////////////////////////////// */

/* ********** END - COLS **************************** */

/* ////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - ARROWS ************************ */

/* ////////////////////////////////////////////////// */

section.top > header > section.left > div.square-1 {
    position:absolute;
    left:7px;
    top:10px;
    background:#F2EFDF;
    width:5px;
    height:5px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

section.top > header > section.left > div.square-2 {
    position:absolute;
    left:12px;
    top:5px;
    background:#F2EFDF;
    width:5px;
    height:5px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

section.top > header > section.left > div.square-3 {
    position:absolute;
    left:12px;
    top:15px;
    background:#F2EFDF;
    width:5px;
    height:5px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

section.top > header > section.right > div.square-1 {
    position:absolute;
    left:13px;
    top:10px;
    background:#F2EFDF;
    width:5px;
    height:5px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

section.top > header > section.right > div.square-2 {
    position:absolute;
    left:8px;
    top:5px;
    background:#F2EFDF;
    width:5px;
    height:5px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

section.top > header > section.right > div.square-3 {
    position:absolute;
    left:8px;
    top:15px;
    background:#F2EFDF;
    width:5px;
    height:5px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

/* ////////////////////////////////////////////////// */

/* ********** END - ARROWS ************************** */

/* ////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - LOGO ************************** */

/* ////////////////////////////////////////////////// */

section.top > header > section.middle > nav {
    position:absolute;
    left:5px;
    top:5px;
    background:#F2EFDF;
    width:50px;
    height:50px;
    padding:5px;
    margin:0px;
    cursor:pointer;
    overflow:hidden;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

section.top > header > section.middle > nav > ul {list-style-type:none;}

section.top > header > section.middle > nav > ul li.squares {
    position:absolute;
    background:#283740;
    width:10px;
    height:10px;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.square-a-1:hover, .square-a-2:hover, .square-a-3:hover, .square-a-4:hover, .square-a-5:hover, .square-b-1:hover, .square-b-2:hover, .square-b-3:hover, .square-b-4:hover, .square-b-5:hover, .square-c-1:hover, .square-c-2:hover, .square-c-3:hover, .square-c-4:hover, .square-c-5:hover, .square-d-1:hover, .square-d-2:hover, .square-d-3:hover, .square-d-4:hover, .square-d-5:hover, .square-e-1:hover, .square-e-1:hover, .square-e-2:hover, .square-e-3:hover, .square-e-4:hover, .square-e-5:hover  { 
    /* for IE */
    filter:alpha(opacity=50); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.5;
    -khtml-opacity:0.5;
    -moz-opacity:0.5;
    -o-opacity:0.5;
    opacity:0.5;
}

.square-a-1 {    
    left:5px;
    top:5px;       
    /* for IE */
    filter:alpha(opacity=90); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9; 
    
}

.square-a-2 {
    left:15px;
    top:5px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-a-3 {
    left:25px;
    top:5px;
    /* for IE */
    filter:alpha(opacity=60); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.6;
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    -o-opacity:0.6;
    opacity:0.6;
}

.square-a-4 {
    left:35px;
    top:5px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-a-5 {
    left:45px;
    top:5px;
    /* for IE */
    filter:alpha(opacity=60); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;
}

.square-b-1 {
    left:5px;
    top:15px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-b-2 {
    left:15px;
    top:15px;
    /* for IE */
    filter:alpha(opacity=90); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;
}

.square-b-3 {
    left:25px;
    top:15px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-b-4 {
    left:35px;
    top:15px;
    /* for IE */
    filter:alpha(opacity=90); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;
}

.square-b-5 {
    left:45px;
    top:15px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-c-1 {
    left:5px;
    top:25px;
    /* for IE */
    filter:alpha(opacity=60); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.6;
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    -o-opacity:0.6;
    opacity:0.6;
}

.square-c-2 {
    left:15px;
    top:25px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-c-3 {
    left:25px;
    top:25px;
    /* for IE */
    filter:alpha(opacity=90); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;
}

.square-c-4 {
    left:35px;
    top:25px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-c-5 {
    left:45px;
    top:25px;
    /* for IE */
    filter:alpha(opacity=60); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.6;
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    -o-opacity:0.6;
    opacity:0.6;
}

.square-d-1 {
    left:5px;
    top:35px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-d-2 {
    left:15px;
    top:35px;
    /* for IE */
    filter:alpha(opacity=90); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;
}

.square-d-3 {
    left:25px;
    top:35px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-d-4 {
    left:35px;
    top:35px;
    /* for IE */
    filter:alpha(opacity=90); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;
}

.square-d-5 {
    left:45px;
    top:35px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;
}

.square-e-1 {
    left:5px;
    top:45px;
    /* for IE */
    filter:alpha(opacity=90); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;
}

.square-e-2 {
    left:15px;
    top:45px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;  
}

.square-e-3 {
    left:25px;
    top:45px;
    /* for IE */
    filter:alpha(opacity=60); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.6;
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    -o-opacity:0.6;
    opacity:0.6;
}

.square-e-4 {
    left:35px;
    top:45px;
    /* for IE */
    filter:alpha(opacity=80); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.8;
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
    -o-opacity:0.8;
    opacity:0.8;   
}

.square-e-5 {
    left:45px;
    top:45px;
    /* for IE */
    filter:alpha(opacity=60); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.9;
    -khtml-opacity:0.9;
    -moz-opacity:0.9;
    -o-opacity:0.9;
    opacity:0.9;   
}

/* square */

#square-moon {
    position:absolute;
    top:15px;
    left:15px;
    background:#F2EFDF;
    width:5px;
    height:5px;    
    -webkit-transition:all 2s ease-in-out;
    -khtml-transition:all 2s ease-in-out;
    -moz-transition:all 2s ease-in-out;
    -o-transition:all 2s ease-in-out;
    transition:all 2s ease-in-out;      
}

nav:hover #square-moon {
    top:35px;
    /* for IE */
    filter:alpha(opacity=0); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.0;
    -khtml-opacity:0.0;
    -moz-opacity:0.0;
    -o-opacity:0.0;
    opacity:0.0;
}

#square-ship {
    position:absolute;
    top:25px;
    left:25px;
    width:0;
    height:0;
    border-color:transparent transparent #F2EFDF transparent;
    border-style:solid;
    border-width:5px;   
    -webkit-transition:all 3s ease-in-out;
    -khtml-transition:all 3s ease-in-out;
    -moz-transition:all 3s ease-in-out;
    -o-transition:all 3s ease-in-out;
    transition:all 3s ease-in-out;
}

nav:hover #square-ship {top:-200px;}

#square-cloud-top {
    position:absolute;
    bottom:5px;
    left:15px;
    width:0;
    height:0;
    border-color:transparent transparent #F2EFDF transparent;
    border-style:solid;
    border-width:15px;    
    -webkit-transition:all 1.5s ease-in-out;
    -khtml-transition:all 1.5s ease-in-out;
    -moz-transition:all 1.5s ease-in-out;
    -o-transition:all 1.5s ease-in-out;
    transition:all 1.5s ease-in-out;
}

nav:hover #square-cloud-top {bottom:-200px;}

#square-cloud-bottom {
    position:absolute;
    bottom:5px;
    left:25px;
    width:0;
    height:0;
    border-color:transparent transparent #283740 transparent;
    border-style:solid;
    border-width:5px;
    /* for IE */
    filter:alpha(opacity=60); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.6;
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    -o-opacity:0.6;
    opacity:0.6;   
    -webkit-transition:all 0.5s ease-in-out;
    -khtml-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

nav:hover #square-cloud-bottom {
    /* for IE */
    filter:alpha(opacity=0); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0;
    -khtml-opacity:0;
    -moz-opacity:0;
    -o-opacity:0;
    opacity:0;
}

/* ////////////////////////////////////////////////// */

/* ********** END - LOGO **************************** */

/* ////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - OPEN ****************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */