#player {
    z-index:1;
    position:absolute;
    top:80px; left:80px;
    
    background-color:rgba(150,150,150,1);
    width:40px;
    height:100px;
    -webkit-transform:translate3d(0,0,0);
    	    transform:translate3d(0,0,0);
}
