doctype 5
html
  head
    title= title
    // /// CSS /// 
    link(rel="stylesheet", href="/stylesheets/style.css")
    // /// JS ///
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
  body
    block content
    
    
    
    
