doctype 5
<!--[if IE 9]><html lang="en" class="ie9 ie" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if LT IE 9]>script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js") script(window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})}))<![endif]-->

html
  head
    title= title
    // /// CSS /// 
    link(rel="stylesheet", href="/css/main.css")
    // /// JS ///
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
  body
    block content
    
    
    
    
